<template>
    <div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="select_product">Product <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
        <model-select :options="options"
                                v-model="selected_product"
                                placeholder="select product" class="form-control col-md-7 col-xs-12">
         </model-select>
         <input type="text" name="" id="" v-model="selected_product.name">
        </div>
    </div>
    </div>
</template>

<script>
import { ModelSelect } from 'vue-search-select';
    export default {
        data(){
            return {
                   options: [
          { id: '1', text: 'aa' + ' - ' + '1' },
          { id: '2', text: 'ab' + ' - ' + '2' },
          { id: '3', text: 'bc' + ' - ' + '3' },
          { id: '4', text: 'cd' + ' - ' + '4' },
          { id: '5', text: 'de' + ' - ' + '5' }
        ],
        selected_product: {
          id: '',
          text: '',
        //   description: '',
        //   unit_buying_price: '',
        //   unit_selling_price: '',
        //   in_stock: ''
        },
                products: [],
            }
        },
        methods:{
        reset () {
        this.selected_product = {}
      },
      selectFromParentComponent1 () {
        // select option from parent component
        this.selected_product = this.options[0]
      },
      getProducts: function(){
                axios.get('/api/fetch_sale_products')
                    .then(function (response) {
                        this.products = response.data;
                    }.bind(this));

    },
    },
    components: {
      ModelSelect
    },
        created: function(){
            this.getProducts()
        }
    }
</script>
